.test {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.test-title {
    display: flex;
    flex-direction: row;
}

.test-body {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.test-row {
    display: block;
    width: 100%;
}

.test-box {
    display: inline-block;
    width: 33.333%;
    height:0;
    padding-top: 33.333%;
    position: relative;
}

.test-box-internal {
    display: flex;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
}

.test-box-box {
    background-color: #3562f3;
    width: 66%;
    height: 66%;
    margin: auto;
    position: relative;
    display: flex1;
    border-radius: 1rem;
    pointer-events: none;
}

.test-box-box-hot {
    background-color: #e8fd2d;
}

.test-box-box-clickable {
    pointer-events: all;
    cursor: pointer;
}

.test-box-box-tagged {
    box-shadow: 0px 0px 19px 16px rgb(245 72 72);
}

.test-header {
    display: flex;
    flex-direction: row;
    height: 6vmin;
    width: 100%;
    pointer-events: none;
}

.test-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.test-overlay-center{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    margin: auto;
    margin-bottom: 1vw;
    pointer-events: none;
}

.test-overlay-button{ 
    border: 0.1rem solid #000;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    color: #000;
    background-color: #ccc;
    pointer-events: all;
    cursor: pointer;
    margin: auto;
    white-space: nowrap;
}

.test-overlay-message{ 
    font-size: 150%;
    color:#000;
    text-align: center;
    margin: auto;
    pointer-events: none;
    user-select: none;
}

.test-footer {
    display: flex;
    flex-direction: row;
    height: 12vmin;
    line-height: 1;
    width: 100%;
}

.test-colour {
    height: 10vmax;
    display: flex;
}

.test-colour-label {
    font-size: 6vmax;
    line-height: 1;
    margin: auto;
}


.test-dotout {
    position: absolute;
    background-color: transparent;
    border-radius: 3rem;
    width: 15rem;
    height: 15rem;
    display: none;
}
.test-dot {
    position: relative;
    background-color: red;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    display: block;
    /* box-shadow: 0px 0px 3rem 3rem red; */
    border: 2px solid #7e2222;
    margin: auto;
}

.test-dot-clicked {
    background-color: rgb(12, 170, 25);
    transition: all ease 0.1s;
}
