.voice {
    display: flex;
    flex-direction: column;
    position: relative;
}

.voice-prompt {
    width: 100%;
    height: 100%;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.voice-prompt-instruction {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: black;
}

.voice-prompt-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border: 2px solid #666;
    border-radius: 0.4rem;
    padding: 1rem;
    width: 100%;
}

.voice-prompt-content-text {
    margin: auto;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
}

.voice-prompt-content-img {
    margin: auto;
}

.voice-graph {
    width: 100%;
    height: 3.38rem;
}

.voice-vis {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right:1rem;
    background-color: #eee;
    border-radius: 3rem;
}

.voice-buttons {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.voice-button {
    margin: auto !important;
    background-color: #052252 !important;
    text-transform: capitalize !important;
    font-size: 1rem !important;
    border-radius: 0.5rem !important;
    border: none !important;
    color: #fefefe !important;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.voice-countdown {
    display: flex;
    flex-direction: row;
}

.voice-countdown-label {
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
}