.membox {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.membox-title {
    display: flex;
    flex-direction: row;
}

.membox-body {
    display: block;
    position: relative;
}

.membox-row {
    display: block;
    width: 100%;
}

.membox-box {
    display: inline-block;
    width: 33.333%;
    height:0;
    padding-top: 33.333%;
    position: relative;
}

.membox-box-internal {
    display: flex;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
}

.membox-box-box {
    background-color: #3562f3;
    width: 66%;
    height: 66%;
    margin: auto;
    position: relative;
    display: flex;
    border-radius: 1rem;
    pointer-events: none;
}

.membox-box-box-hot {
    background-color: #e8fd2d;
}

.membox-box-box-clickable {
    pointer-events: all;
    cursor: pointer;
}

.membox-box-box-tagged {
    box-shadow: 0px 0px 19px 16px rgb(245 72 72);
}

.membox-header {
    display: flex;
    flex-direction: row;
    height: 6vmin;
    width: 100%;
}

.membox-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.membox-overlay-center{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin: auto;
}

.membox-overlay-button{ 
    order: 5px solid #000;
    border-radius: 6vmin;
    padding-left: 6vmin;
    padding-right: 6vmin;
    font-size: 6vmin;
    color: #000;
    background-color: #ccc;
    pointer-events: all;
    cursor: pointer;
}

.membox-overlay-message{ 
    font-size: 5vmin;
    color:#000;
    text-align: center;
    margin: auto;
}

.membox-footer {
    display: flex;
    flex-direction: row;
    height: 6vmin;
    width: 100%;
}

.membox-box-result {
    margin: auto;
    font-size: 6vmax;
}

.membox-box-result-good {
    color: #7ff37f;
}

.membox-box-result-bad {
    color: #ff8b8b;
}