.membox {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.membox-title {
    display: flex;
    flex-direction: row;
}

.membox-body {
    display: block;
    position: relative;
}

.membox-row {
    display: block;
    width: 100%;
}

.membox-box {
    display: inline-block;
    width: 33.333%;
    height:0;
    padding-top: 33.333%;
    position: relative;
}

.membox-box-internal {
    display: flex;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
}

.membox-box-box {
    background-color: #3562f3;
    width: 66%;
    height: 66%;
    margin: auto;
    position: relative;
    display: block;
    border-radius: 1rem;
}

.membox-box-box-hot {
    background-color: #e8fd2d;
}

.membox-header {
    display: flex;
    flex-direction: row;
}