.membox {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
}

.membox-title {
    display: flex;
    flex-direction: row;
}

.membox-body {
    display: block;
    position: relative;
}

.membox-row {
    display: block;
    width: 100%;
}

.membox-box {
    display: inline-block;
    width: 33.333%;
    height:0;
    padding-top: 33.333%;
    position: relative;
}

.membox-box-internal {
    display: flex;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    
}

.membox-box-box {
    background-color: #3562f3;
    width: 66%;
    height: 66%;
    margin: auto;
    position: relative;
    display: block;
    border-radius: 1rem;
}

.membox-box-box-hot {
    background-color: #e8fd2d;
}

.membox-header {
    display: flex;
    flex-direction: row;
}

.membox-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.membox-overlay-center{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin: auto;
}

.membox-overlay-button{ 
    border: 5px solid #000;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2rem;
    color:#000;
    background-color:#ccc;
    pointer-events: all;
    cursor: pointer;
}

.membox-overlay-message{ 
    font-size: 2rem;
    color:#000;
}